body {
  font-family: 'Crete Round', serif;;
}

.title {
  display: none;
}

img {
  width: 20%;
}

#myBooks{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
