// Colors

$greepoch : #28D2BF;
$bookBackground : #f0f0f032;
$cancel : #a00909;
$border : rgba(29, 27, 27, 0);
$background : #f0f0f0;

// Window Size
$large : 2560px;
$medium : 1025px;
$tablet : 801px;
$mobile : 480px;
$small : 350px;